.charsheet{
    background: white;
}

.sheet-main_grid{
  display: grid;
  grid-template-columns: repeat(5,160px);
  grid-template-rows:  35px;
  grid-gap: 5px;
  grid-template-areas: 
    "name name age logo logo"
    "heritage heritage weight logo logo"
    "handedness handedness height logo logo"
    "rank kills rounds rounds rounds"
    "traits traits adv adv weap"
    "agi agiscr . . ."
    "awe awescr . . ."
    "con conscr . . ."
    "coo cooscr . . ."
    "int intscr . . ."
    "luc lucscr . . ."
    "str strscr . . ."
    "hth tohit cnd cndscr .";
}

.sheet-main_grid div {
  justify-content: center;
  padding-top: 2px;
  border: 3px solid black;
}

.sheet-main_grid input {
  border: none;
}

.sheet-name_grid {
    grid-area: name;
    font-weight: bold;
    text-align: left;
}
.sheet-name_grid input {
  width:100px;
}

.sheet-age_grid {
    grid-area: age;
    font-weight: bold;
    text-align: left;
}
.sheet-age_grid input {
  width:30px;
}


.sheet-heritage_grid {
    grid-area: heritage;
    font-weight: bold;
    text-align: left;
}
.sheet-heritage_grid input {
  width:100px;
}

.sheet-weight_grid {
    grid-area: weight;
    font-weight: bold;
    text-align: left;
}
.sheet-weight_grid input {
  width:30px;
}

.sheet-handedness_grid {
    grid-area: handedness;
    font-weight: bold;
    text-align: left;
}
.sheet-handedness_grid input {
  width:60px;
}

.sheet-height_grid {
    grid-area: height;
    font-weight: bold;
    text-align: left;
}
.sheet-height_grid input {
  width:30px;
}

.sheet-logo_grid {
    grid-area: logo;
    font-weight: bold;
    text-align: center;
}

.sheet-progression_grid {
    grid-area: prog;
    font-weight: bold;
    text-align: left;
}

.sheet-rank_grid {
    grid-area: rank;
    font-weight: bold;
    text-align: left;
}
.sheet-rank_grid input {
  width:90px;
}

.sheet-kills_grid {
    grid-area: kills;
    font-weight: bold;
    text-align: left;
}
.sheet-kills_grid input {
  width:30px;
}

.sheet-rounds_grid {
    grid-area: rounds;
    font-weight: bold;
    text-align: left;
}

.sheet-traits_grid {
    grid-area: traits;
    font-weight: bold;
    text-align: center;
}
.sheet-advant_grid {
    grid-area: adv;
    font-weight: bold;
    text-align: center;
}
.sheet-weap_grid {
    grid-area: weap;
    font-weight: bold;
    text-align: center;
}

.sheet-agi_grid {
    grid-area: agi;
    font-weight: bold;
    text-align: center;
}
.sheet-agiscr_grid {
    grid-area: agiscr;
    font-weight: bold;
    text-align: left;
}
.sheet-agiscr_grid input {
  width:30px;
}

.sheet-awe_grid {
    grid-area: awe;
    font-weight: bold;
    text-align: center;
}
.sheet-awescr_grid {
    grid-area: awescr;
    font-weight: bold;
    text-align: left;
}
.sheet-awescr_grid input {
  width:30px;
}

.sheet-coo_grid {
    grid-area: coo;
    font-weight: bold;
    text-align: center;
}
.sheet-cooscr_grid {
    grid-area: cooscr;
    font-weight: bold;
    text-align: left;
}
.sheet-cooscr_grid input {
  width:30px;
}

.sheet-con_grid {
    grid-area: con;
    font-weight: bold;
    text-align: center;
}
.sheet-conscr_grid {
    grid-area: conscr;
    font-weight: bold;
    text-align: left;
}
.sheet-conscr_grid input {
  width:30px;
}

.sheet-int_grid {
    grid-area: int;
    font-weight: bold;
    text-align: center;
}
.sheet-intscr_grid {
    grid-area: intscr;
    font-weight: bold;
    text-align: left;
}
.sheet-intscr_grid input {
  width:30px;
}

.sheet-luc_grid {
    grid-area: luc;
    font-weight: bold;
    text-align: center;
}
.sheet-lucscr_grid {
    grid-area: lucscr;
    font-weight: bold;
    text-align: left;
}
.sheet-lucscr_grid input {
  width:30px;
}

.sheet-str_grid {
    grid-area: str;
    font-weight: bold;
    text-align: center;
}
.sheet-strscr_grid {
    grid-area: strscr;
    font-weight: bold;
    text-align: left;
}
.sheet-strscr_grid input {
  width:30px;
}

.sheet-hth_grid {
    grid-area: hth;
    font-weight: bold;
    text-align: center;
}


.sheet-tohit_grid {
    grid-area: tohit;
    font-weight: bold;
    text-align: center;
}


.sheet-cnd_grid {
    grid-area: cnd;
    font-weight: bold;
    text-align: center;
}
.sheet-cndscr_grid {
    grid-area: cndscr;
    font-weight: bold;
    text-align: left;
}
.sheet-cndscr_grid input {
  width:80px;
}